@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

.button {
    font-family: 'Fauna One';
    font-size: 1.5em;
    padding: .75em;
    border-radius: .5em;
    background-color: #FFD791;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: all 0.2s ease-in-out;
}

.button.hovered {
    transform: scale(1.1);
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    background-color: #eea527;
}

.search {
    font-family: 'Fauna One';
    font-size: 1.25em;
    width: 25em;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}